html {
  height: 100%;
  width: 100%;
}
body {
  text-align: center;
  font-family: 'Comic Sans MS';
  background: repeating-linear-gradient(
    45deg,
    #b3f7ff,
    #b3f7ff 30px,
    #ccf9ff 30px,
    #ccf9ff 60px
  );
}.dancingmudkip {
  height: 160px;
  position: fixed;
  bottom: 0;
  left: 0;
}.orangething {
  text-align: center;
  background: #fa8b02;
  color: white;
  font-size: 20px;
}